#header {
    border-bottom: 1px solid #000;

    .inner {
        position: relative;
        height: 120px;
    }

    h1 {
        position: absolute;
        left: 0;
        top: 20px;
    }

    .top-menu {
        position: absolute;
        right: 0;
        top: 10px;

        li {
            display: inline-block;
            margin-left: 15px;

            a {
                font-size: 15px;
            }
        }
    }

    .nav {
        position: absolute;
        left: 315px;
        top: 60px;

        .gnb {
            display: flex;

            li {
                margin-right: 75px;

                a {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}
